.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 30px;
}

.languages {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  background-color: #5c6e91;
  li {
    color: #eeeded;
  }
}
.link-color {
  font-weight: bold;
  color: #706897;
}
.social-links {
  padding-left: 15px;
}
