

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-picture {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
  margin-right: 30px;
}

// Task manager:

.tasks-wrapper {
  margin: 10px auto;
  line-height: 0.3;
  background: #393e46;
  opacity: 0.8;
  border-radius: 10px;
  padding: 40px;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
  }
}
.task-wrapper {
  margin-bottom: 10px;
  padding: 10px;
  opacity: 0.7;
  h3, p, i {
    color: #f7f7e8;
  }
  p {
    font-size: 12px;
  }
  border-radius: 5px;
  &:hover {
    opacity: 1;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
  }
}

.dashed {
  border: 5px dashed #ffe227;
}
.reminder {
    border-left: 5px solid #ffe227;
}

.icons {
  display: flex;
}

.display-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-add {
  margin: 0 auto;
  background: #393e46;
  border-radius: 10px;
  padding: 40px;
  &:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
  }
  label {
    color: white;
  }
}

// Buttons:
.my-btn {
  width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-family: 'Sriracha', cursive;
  &:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
  }
}
.add-btn {
  color: white;
  width: 100px;
  padding: 28px;
  text-align: center;
  margin: 14px auto;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-family: 'Sriracha', cursive;
  &:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
  }
}

// Icons:

.icons {
  i {
    opacity: 0.6;
    &:hover {
      opacity: 1;
      font-size: 20px;
    }
  }
}
