@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sriracha&display=swap');
@import 'about';
@import 'main';

// Variables:
$mainColor: #eaeaea !important;
$secondaryColor: #fff !important;
$borderColor: #c1c1c1 !important;
$mainText: black;
$secondaryText: #4b5156;

body {
  font-family: 'Poppins', sans-serif;
  background: $mainColor;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
  color: $mainText;
  font-family: 'Sriracha', cursive;
}

p, li, span, label, input, textarea {
  color: $secondaryText;
}
.light-text {
    font-size: 11px;
    font-style: italic;
    text-align: center;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

ul {
  list-style: none;
}
// Home page***************
.page-top {
  margin-top: 56px;
}
.masthead {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 56px;
}

.hero-text {
  text-align: center;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  color: white;
}
